body {
    /* prevent scrolling */
    height: 100%;
    overflow: hidden;

    /* apple font */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    /* source: https://512pixels.net/projects/default-mac-wallpapers-in-5k/#gallery-6 */
    background-image: url('../../public/wallpaper-light.jpg');
}

.menu-bar {
    width: 100%;

    /*
    people here are saying the height of the menu bar is a static 22 pixels:
    https://stackoverflow.com/q/2867503
    */
    height: 22px;

    /* make it a bit blurred, and give it a bit of an outline */
    backdrop-filter: blur(10px); /* Apply blur */
    background-color: rgba(255, 255, 255, 0.2); /* slight translucent color */
    border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* shadow */
}

.date-and-time {
    /* Align on far right of menu bar */
    float: right;
}
