// makes the background it a bit blurred, and give it a bit of an outline
.menu-bar, .dock, .tooltip, .popup {
    backdrop-filter: blur(10px); // Apply blur
    background-color: rgba(255, 255, 255, 0.2); // slight translucent color
    border: 1px solid rgba(255, 255, 255, 0.3); // subtle border
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // shadow
}

body {
    // prevent scrolling
    height: 100vh; // fill entire screen
    overflow: hidden;
    margin: 0; // for some reason there was a random margin around the whole body

    // apple font
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    // Prevent text selection everywhere
    user-select: none;

    // add a background image
    // source: https://512pixels.net/projects/default-mac-wallpapers-in-5k/#gallery-6
    // centre and scale the image nicely
    background-image: url('../../public/wallpaper-light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // misc helper style
    .bold {
        font-weight: bold;
    }

    .lighter-text {
        color: rgba(black, 0.35);
    }

    .menu-bar {
        width: 100%;

        // stop menu bar contents from being right up against left/right of screen
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box; // ensures width stays at 100% w/o padding pushing
                                // content out of view

        // people here are saying the height of the menu bar is a static 22 pixels:
        // https://stackoverflow.com/q/2867503
        height: 22px;

        display: flex;
        align-items: center; // in the centre vertically

        .app-menus {
            display: inherit;
            justify-content: flex-start; // Pack on left side

            .highlighted {
                background: rgba(white, 0.5); // make background lighter
            }

            .gap {
                width: 4px;

                .left {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
                .right {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }

        .notification-centre {
            margin-left: auto; // Align on far right of menu bar
        }
    }

    .popup {
        // Allow it to be placed programmatically anywhere on the page
        position: fixed;

        display: flex;
        flex-direction: column;

        // add a bit of a gap between the labels/symbols and the popup edge
        padding-left: 15px;
        padding-right: 15px;

        // add a tiny bit of space at the top and bottom
        padding-top: 5px;
        padding-bottom: 5px;

        // just grabbed the tooltip value. they seem similar, idk
        border-radius: 5px;

        .popup-row {
            display: flex;
            flex-direction: row;

            // make the label appear on the far left, and the symbols on the far right
            justify-content: space-between;

            // the label
            :first-child {
                // The idea of this is to give a minimum gap of 35px between the
                // label and the symbols. The longest label will have a 35px margin,
                // and the other labels will have the a gap that's the same size or
                // bigger
                margin-right: 35px;
            }

            // apply a colour when hovering over the row (if it's not disabled)
            &:hover:not([disabled]) {
                // i hovered over an actual row in macos, took a screenshot, then used
                // a colour picker to get this value
                background-color: #2269D5;
            }
        }

        hr {
            // make the separator strech across the whole popup. otherwise, it's just
            // a dot for some reason
            width: 100%;
        }
    }

    // Need to wrap the dock in a wrapper, and apply the dock positioning to the wrapper,
    // because otherwise, when we scale the dock, it messes up the positioning too
    .dock-wrapper {
        // place at bottom of screen
        position: fixed;
        bottom: 5px; // make it appear 5px off the bottom

        // place in centre (i.e. equidistant from left and right)
        left: 50%;
        transform: translateX(-50%); // offset by 1/2 width to stay centred vertically
    }

    .dock {
        // This is just the height that the dock appears to be currently on my Mac
        height: 64px;
        // width: 964px;

        // got this via trial and error. i set the width to be the same as my dock, and
        // basically just tried random values until i got this. seems pretty spot on
        border-radius: 17px;

        // add padding so contents aren't pushed right up to the curved corners
        padding-left:  11px;
        padding-right: 11px;

        display: flex;
        flex-direction: row; // specify that we're aligning stuff in a row

        justify-content: center;

        // make the contents appear in the centre (vertically)
        align-items: center;

        // Add a gap between the items. Trial and error again. Seems close
        column-gap: 14px;

        .icon {
            // without this, the icon div was weirdly a bit bigger in height than in
            // width, so it made the icon look off-centre vertically.
            // this value is the same as the one specified at the top of Icon.js
            height: 52px;
            width:  52px;
        }

        // scale everything down in size; with all the default dock icons, at normal size,
        // the dock is way too long, so everything goes off the screen
        transform: scale(0.75);
    }

    .tooltip {
        // Allow the tooltip to be placed programmatically anywhere on the page
        position: fixed;

        // Align the text in the centre of the tooltip
        display: flex;
        align-items: center;

        // Eyeballed this
        height: 25px;

        // Add some padding between the edges of the tooltip and the text.
        // I just eyeballed the value
        padding-left: 12px;
        padding-right: 12px;

        // eyeballed
        border-radius: 5px;
    }
}
