body {
    // prevent scrolling
    height: 100vh; // fill entire screen
    overflow: hidden;

    // apple font
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    // source: https://512pixels.net/projects/default-mac-wallpapers-in-5k/#gallery-6
    background-image: url('../../public/wallpaper-light.jpg');

    // misc helper style
    .bold {
        font-weight: bold;
    }

    .menu-bar {
        width: 100%;

        // people here are saying the height of the menu bar is a static 22 pixels:
        // https://stackoverflow.com/q/2867503
        height: 22px;

        // make it a bit blurred, and give it a bit of an outline
        backdrop-filter: blur(10px); // Apply blur
        background-color: rgba(255, 255, 255, 0.2); // slight translucent color
        border: 1px solid rgba(255, 255, 255, 0.3); // subtle border
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // shadow

        user-select: none; // prevent text being selected/highlighted

        display: flex;
        align-items: center; // in the centre vertically

        .app-menus {
            display: inherit;
            justify-content: flex-start; // Pack on left side

            .highlighted {
                background: rgba(white, 0.5); // make background lighter
            }

            .gap {
                width: 4px;

                .left {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
                .right {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }

        .notification-centre {
            margin-left: auto; // Align on far right of menu bar
        }
    }
}




